/*Styles for acola.me*/
/*pop up styles*/
@-webkit-keyframes popUpEntrada {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 5%;}
    100%{opacity: 1;}
}
@keyframes popUpEntrada {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 5%;}
    100%{opacity: 1;}
}
@-webkit-keyframes popUpSaida {
    0%{opacity: 1;}
    75%{opacity: 1; margin-top: -20%;}
    100%{opacity: 0;margin-top: 40%;}
}
@keyframes popUpSaida {
    0%{opacity: 1;}
    75%{opacity: 1; margin-top: -20%;}
    100%{opacity: 0;margin-top: 40%;}
}

.popUpFundo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#4879c3;
    opacity: 0.8;
    z-index: 50;
}
.popUp{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 0;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    border-style:none;
    z-index: 999;
    overflow: hidden;
}
.popUp button:focus{
    outline-style: none;
}
.popUp>h1{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 5px;
    min-height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border-style: none;
    border-width: 5px;
    border-color: black;
}

.popUp>div{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #ccc;
    border-style: none none solid none;
    overflow: auto;
}
.popUp>div>span{
    display: table-cell;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.popUp>button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 10px;
    width: 100%;
    border: 1px none #ccc;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}
.alert{
    width: 100% !important;
}
.popUp .puCancelar{
    float: left;
}

.p{
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    transform: translate(-50%, -50%);
}

.p>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: calc(100% -108px);
    margin: 0;
    padding: 0;
    border-style: none;
    
}
.p>div>div, .p span{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 300px;
    height: 108px;
    margin: 0;
    padding: 0;
    border-style: none;

}

.p>button{
    height: 50px;
    
}
.puEnviar{
    margin: 5px 0;
}
.puCancelar{
    display: none;
    margin: 5px 0;
}


.m{
    margin: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
    transform: translate(-50%, -50%);
}
.m>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: calc(100% -108px);
    margin: 0;
    padding: 0;
    border-style: none;
    border-color:#ccc;
}
.m>div>div, .m>span, .m>div>span{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 400px;
    height: 208px;
    margin: 0;
    padding: 0;
    border-style: none;
}

.m>button{
    height: 50px;
}

.g{
    margin: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    transform: translate(-50%, -50%);
}
.g>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: calc(100% -108px);
    margin: 0;
    padding: 0;
    border-style: none;
    border-color: #ccc;
}
.g>div>div, .g span{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 600px;
    height: 408px;
    margin: 0;
    padding: 0;
    border-style: none;
}
.g>button{
    height: 60px;
}


.alert.puEnviar{
    display: none;
}

.popUpEntrada{
    display: block !important;
    animation: popUpEntrada 0.5s;
    -webkit-animation: popUpEntrada 0.5s;
}
.popUpSaida{
    display: block !important;
    animation: popUpSaida 0.5s;
    -webkit-animation: popUpSaida 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.white{
    background-color: #fff;
    color: #555;
}
.white>h1{
color: #000;
}
.white>button{
    background-color: #f3f3f3;
    color: #555;
}
.white>button:hover{
    background-color: #e3e3e3;
}

.popUpFundo.white{
    background-color:#555;
}

.customsend {
    width: 50% !important;
}

.customcancel {
    display: unset !important;
    width: 50% !important;
}

.customspan {
    height: 80px !important;
}

#pass {
    border: 1px solid grey;
    margin: 8px 0;
}

/*swiper*/
.swiper-slide {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0 !important;
    justify-content: center;
}

.swiper-container {
    height: 500px;
    width: 100%;
}

.sl2 {
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

/*preloader*/

#preloader {
    overflow: hidden;
    background-image: linear-gradient(135deg, #464388 0%, #6c63ff 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    animation: change 7s ease-in-out infinite;
}

.sbl-circ-dual {
    height: 48px;
    width: 48px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loaderspin 1s linear infinite; 
}

.sbl-circ-dual::after {
    content: '';
    height: 40%;
    width: 40%;
    display: block;
    color: inherit;
    margin: 10px auto;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loaderspin .5s linear infinite reverse; 
}
  
@keyframes loaderspin {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}

@-moz-keyframes loaderspin {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}

@-o-keyframes loaderspin {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}


/*Styles for simple bar*/
[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  .simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
  }
  
  .simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
  }
  
  .simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }
  
  .simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
    width: auto;
    visibility: visible;
    overflow: auto; /* Scroll on this element otherwise element can't have a padding applied properly */
    max-width: 100%; /* Not required for horizontal scroll to trigger */
    max-height: 100%; /* Needed for vertical scroll to trigger */
  }
  
  .simplebar-content:before,
  .simplebar-content:after {
    content: ' ';
    display: table;
  }
  
  .simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
  }
  
  .simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
  }
  
  .simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  
  .simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
  }
  
  [data-simplebar].simplebar-dragging .simplebar-content {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
  }
  
  [data-simplebar].simplebar-dragging .simplebar-track {
    pointer-events: all;
  }
  
  .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px;
  }
  
  .simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: rgb(255, 255, 255);
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  
  .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    transition: opacity 0s linear;
  }
  
  .simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px;
  }
  
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
  }
  
  .simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px;
  }
  
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
  }
  
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
  }
  
  /* Rtl support */
  [data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0;
  }
  
  .hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
/*widely used styles*/
html {
    scroll-behavior: smooth;
}

.root,
.root > *
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}


.root {
    position: relative;
    overflow: hidden;
}

body {
    position: relative;
    display: block;
}
/*sticky social button*/
.sticky-social {
    position: fixed;
    top: 50%;
    left: 0;
    height: 50px;
    width: 40px;
    z-index: 998;
}

.st-hover {
    position: fixed;
    top: 50%;
    left: 0;
    height: 100px;
    width: 10px;
    z-index: 999;
}

.st-wrapper {
    position: relative;
    transition: .5s ease;
}

.st-wrapper.deactivate {
    margin-left: -45px;
}

.st-fb {
    background: #3b5998;
    text-align: center;
    height: 45px;
    width: 45px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    z-index: 998;
    position: relative;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
    transition: .5s ease;
}

.st-fb.deactivate {
    right: 45px;
}

.st-share.deactivate {
    left: -200%;
}

.st-share {
    position: absolute;
    height: 45px;
    top: 0;
    left: -100%;
    transition: .5s ease;
    background: #3b5998;
    padding: 0 10px 0 5px;
    z-index: 0;
    display: flex;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
    font-size: 0.8em;
    letter-spacing: 0.03em;
}

.st-share.active {
    left: 45px;
    font-family: Segoe UI;
    color: #fff;
}

.st-wrapper:hover {
    color: #fff;
    font-family: Segoe UI;
    text-decoration: none;
}
.st-share:hover {
    left: 45px;
}

.st-wrapper:hover .fa-facebook {
    margin-left: 10px;
}

.sticky-social .fa-facebook {
    font-size: 1.4em;
    color: white;
    transition: .5s ease;
}

.st-arrow {
    transition: .5s ease;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    width: 45px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    cursor: pointer;
}

.st-arrow:hover {
    background: white;
    box-shadow: 1px 1px 1px rgba( 255, 255, 255,0.5);
}

.fa-double-angle-left {
    transition: .5s ease;
}

.st-arrow.deactivate {
    margin-left: -45px;
}

.arrow-rotate {
    transform: rotate(180deg);
}

/*Custom fonts*/
@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanovabold.otf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("/fonts/SegoeUI.woff");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanovabold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppinsregular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppinsbold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Lato-Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

/*Hero and navbar section styles*/
.heronav {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f6f6f6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ededed' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e4e4e4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23dbdbdb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23d2d2d2' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23bebebe' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ababab' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23989898' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23858585' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23737373' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.main-header {
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.center-header {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.center-header > a {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
}

.center-header > a img {
    height: 85px;
    margin: 10px 10px 5px 0;
}

.center-header > a:hover,
.center-header > a:active,
.center-header > a {
    color: #6c63ff;
    text-decoration: none;
}

.center-header h1 {
    font-family: Poppins;
    font-size: 3em;
}

/* Icon 1 */

#nav-icon3 {
    width: 30px;
    height: 25px;
    position: relative;
    margin: auto 10px auto auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #6c63ff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3 {
    display: none;
}

@media screen and (max-width: 850px) {
    #nav-icon3 {
        display: unset;
    }
}

.main-nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    font-family: Lato;
}

.main-nav a {
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-size: 1.1em;
    font-weight: bold;
}

.main-nav a:hover {
    color: #6c63ff;
}

.current-menu-item {
    color: #6c63ff !important;
}

.main-nav ul li {
    padding: 5px 15px;
}

.hero {
    max-width: 1140px;
    margin: 0 auto;
    height: 545px;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-self: center;
}

.hero-img {
    width: 57%;
}

.hero-img img {
        filter: drop-shadow(-1px 4px 8px rgba(0,0,0,0.3));
}

.hero-text {
    width: 40%;
}

.hero-text p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.hero-text a {
    text-decoration: none;
    font-size: 0.4em;
    text-transform: uppercase;
    font-family: Lato;
    color: #fff;
    background: #2856B8;
    padding: 10px 30px;
    border-radius: 40px;
    transition: .5s ease;
}

.hero-text a:hover {
    color: #6c63ff;
    background: #fff;
}

.hero-text {
    font-family: Proxima Nova;
    font-size: 3.5em;
    color: #3f3d56;
}

@media screen and (min-width: 1500px) {
    .hero {
        margin: 100px auto;
    }
}

@media screen and (max-width: 1140px) {
    
    .hero {
        padding: 0 10px;
    }   
    .app-section {
        padding: 10px 10px;
    }
    .center-header {
        padding-left: 10px;
    }
    .center-header h1 {
        font-size: 2.6em;
    }
}

@media screen and (max-width: 1024px) {
    .heronav {
        height: 635px;
    }   
    .app-section {
        max-height: 735px;
    }
    .hero-text {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 850px) {
    .swiper-slide {
        flex-direction: column;
        -ms-flex-direction: column;
        padding: 30px 20px 0 20px;
        width: unset;
    }  
    .center-header > a img {
        height: 70px;
    }
    .center-header h1 {
        font-size: 2.3em;
    }
    .list p .fa {
        font-size: 1.7em;
    }
    .hero-text{
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .travel-form {
        height: unset !important;
    }
    .main-nav ul {
        flex-direction: column;
        -ms-flex-direction: column;
        position: absolute;
        right: 100%;
        top: 100%;
        height: 330px;
        background: none;
        width: 100%;
        transition: .3s ease;
        z-index: 1000;
    }
    
    .main-nav ul li {
        height: 40%;
        display: flex;
        background: #fff;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: right;;
        border-top: 1px solid rgba(107, 99, 255, 0.2);
    }
    /* .main-nav ul li:first-of-type {
        margin-right: 200%;
        transition: all ease;
        transition-delay: 0s;
        transition-duration: .3s;
    }
    
    .main-nav ul li:nth-of-type(2) {
        margin-right: 200%;
        transition: all ease;
        transition-delay: .2s;
        transition-duration: .3s;
    }
    
    .main-nav ul li:nth-of-type(3) {
        margin-right: 200%;
        transition: all ease;
        transition-delay: .4s;
        transition-duration: .3s;
    } */
}

@media screen and (max-width: 465px) {
    .list p .fa-facebook {
        margin: 5px 25px 0 20%;
    }
    .hero-text {
        font-size: 2em;
    }
}

@media screen and (max-width: 414px) {
    .center-header h1 {
        font-size: 2.2em;
    }
    .hero {
        flex-direction: column;
        -ms-flex-direction: column;
    }  
    .hero-text {
        margin-top: 20px;
    } 
    .hero-text,
    .hero-img {
        width: 100%;
    }
    .center-header > a img {
        height: 80px;
        margin: 5px 10px 5px 0;
    }
}

@media screen and (max-width: 330px) {
    .center-header h1 {
        font-size: 1.8em;
    }
}

.main-nav ul.active {
    right: 0;
}

.main-nav ul li.active {
    margin-right: 0;
}
/* Styles for roads table section*/
.table-section {
    width: 100%;
    height: 100vh;
    background: #636bff49;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.section-h1 {
    color: #3f3d56;
    text-align: center;
    font-size: 3em;
    font-family: Proxima Nova;
}

.table-container .simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: rgb(0, 0, 0);
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.thead {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    max-width: 1140px;
    background: #6c63ff;
    color: #fff;
    font-size: 1em;
    font-family: Lato;
    letter-spacing: 0.03em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.table-container {
    max-width: 1140px;
    width: 100%;
    background: white;
    background-size: 400% 400%;
    animation: change 7s ease-in-out infinite;
    height: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

#search-cont {
    max-width: 1140px;
    width: 100%;
}

#search-cont .fa-search {
    margin-left: 7px;
    font-size: 1em;
}



.table-section input {
    font-size: 1em;
    margin: 0 0 20px 0;
    border-radius: 30px;
    padding-left: 5px;
    font-family: Proxima Nova;
}

.section-h2 {
    text-align: center;
    max-width: 700px;
    font-family: Lato;
    margin: 10px 0 20px 0;
    font-size: 1.3em;
}

#myTable {
    font-family: Lato;
    font-size: 0.8em;
    width: 100%;
}

.tr {
    color: #666;
    border-top: 2px solid #6b63ff36;
}

.thead,
.tr {
    display: flex;
    flex-direction: row;
}

.tr div,
.thead div {
    padding: 10px 10px;
}

.tname {
    font-weight: bold;
}

.tname, 
.troad, 
.tstate {
    width: 15%;
}

.tinfo {
    width: 55%;
}

.thead > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 950px) {
    .section-h1,
    .travel-form h1 {
        font-size: 2.5em !important;
    }
    .table-section {
        height: unset;
        padding: 70px 20px;
    }
    .table-container {
        height: 370px;
    }
    .travel-form {
        height: unset !important;
    }
}

@media screen and (max-width: 800px) {
    .section-h1,
    .travel-form h1 {
        font-size: 2.1em !important;
    }
    .section-h2,
    .travel-form h2 {
        font-size: 1.2em !important;
    }
    .travel-form h2 {
        margin: 20px auto !important;
    }
}

@media screen and (max-width: 750px) {
    .thead {
        display: none;
    }
    .table-container {
        border-radius: 20px;
        padding: 10px 5px;
    }
    .tr {
        border-top: none;
        border-bottom: 2px solid #6b63ff;
    }
    .tname::before,
    .troad::before,
    .tstate::before,
    .tinfo::before {
        font-family: Lato;
        font-size: 1em;
        color: #636cff;
        font-weight: bold;
        display: block;
        margin: 0 0 5px 0;
    }
    .tname,
    .troad,
    .tstate,
    .tinfo {
        width: 100%;
    }
    .troad,
    .tstate,
    .tinfo {
        border-top: 2px solid #6b63ff1c;
    }
    .tr {
        flex-direction: column;
    }
    .tr:last-of-type {
        border-bottom: none;
    }
    .tname::before {
        content: 'Provincia:';
    }
    .troad::before {
        content: 'Vía:';
    }
    .tstate::before {
        content: 'Estado:';
    }
    .tinfo::before {
        content: 'Descripción:';
    }
}

/*Styles for app section*/

.app-section {
    width: 100%;
    padding: 40px 10px;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.app-container {
    max-width: 1140px;
    width: 100%;
    background: #6c63ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #6c63ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #6c63ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    position: relative;
    animation: change 7s ease-in-out infinite;
    height: 620px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 25px 20px;
}



@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@-o-keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.app-search {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background: white;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.app-search p {
    font-family: Lato;
    font-size: 0.9em;
    color: #6c63ff;
    text-align: center;
    margin-bottom: 15px;
}

.fa-refresh {
    color: #6c63ff;
    font-size: 1.7em !important;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    right: 10px;
}

.refresh-active {
    color: #17a2b8;
    animation-name: rotation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes rotation {
    from {
      transform: rotate(-40deg);
    }
    80% {
      transform: rotate(340deg);
    }
    99.999%{
      transform: rotate(460deg);
    }
    to{
      transform: rotate(-40deg);
    }
  }

@-o-keyframes rotation{
    from{
      transform: rotate(-40deg);
    }
    80% {
      transform: rotate(340deg);
    }
    99.999%{
      transform: rotate(460deg);
    }
    to{
      transform: rotate(-40deg);
    }
  }

@-moz-keyframes rotation{
    from{
      transform: rotate(-40deg);
    }
    80% {
      transform: rotate(340deg);
    }
    99.999%{
      transform: rotate(460deg);
    }
    to{
      transform: rotate(-40deg);
    }
  }

@-webkit-keyframes rotation{
    from{
        transform: rotate(-40deg);
    }
    80% {
        transform: rotate(340deg);
    }
    99.999%{
        transform: rotate(460deg);
    }
    to{
        transform: rotate(-40deg);
    }
}



.app-posts {
    width: 70%;
    height: 100%;
    padding-left: 20px
}

.app-posts ul {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-right: 20px;
}

.app-posts ul li {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    background: #fff;
    margin: 0 0 20px 0;
    border-radius: 10px;
    font-family: Lato;
    padding: 10px;
    box-shadow: 1px 3px 0px rgba(0,0,0,0.4);
    position: relative;
}

.app-posts ul li > div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    width: 100%;
}

.app-posts ul li .exit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.fa-times {
    color: #17a2b8;
    font-size: 1.2em !important;
    cursor: pointer;
}

.app-posts ul li h3 {
    margin: 0 10px 5px 0;
    font-size: 1.1em;
}

.app-posts ul li h2 {
    font-size: 0.8em;
    color: #818181;
}

.app-posts ul li h2::before {
    content: '\f017';
    color: #818181;
    font-family: fontAwesome;
    font-size: 1em;
    margin: 0 5px;
}

.app-posts ul li p {
    width: 50%;
    margin-bottom: 5px;
    color: #6c63ff;
    border-top: 1px solid black;
}

.app-posts ul li p span {
    color: #000;
}

.app-posts .comment {
    width: 100%;
    color: #000;
    padding-top: 5px;
}

.app-posts .p-lf {
    font-family: Lato;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.sbar-wrapper {
    height: 500px;
    border-radius: 20px;
}

.sb-input2 {
    font-family: Lato;
    width: 70%;
    margin-bottom: 12px;
    background: none;
    font-size: 1em;
    color: black;
    background: white;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 7px #dbdbdb, 
                -7px -7px 7px #ffffff;
    border: none;
}

.sb-input2::placeholder {
    color: black;
}

.tab {
    font-family: Lato;
    padding: 5px 10px;
    margin: 0 5px 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
    width: 100px;
    border-radius: 20px;
    transition: .4s ease;;
}

.tab:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #6c63ff;
}

.tab.active {
    color: #6c63ff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
}

#users.inactive,
#users2.inactive {
    display: none;
}

.root .fa-facebook {
    color: #3b5998;
    font-size: 1.3em;
    margin: 0 10px;
}

.fa-whatsapp {
    font-size: 1.3em;
    color: #25D366;
}

.tippy-popper {
    font-family: Lato !important;
}

.app-search form {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    font-family: Lato;
    position: relative;
}

.p2 {
    display: none;
}

.separator2 {
    width: 90%;
    height: 2px;
    background: #2856bb;
    margin: 15px auto;

}

.filter,
.sb-input {
    width: 70%;
    margin-bottom: 12px;
    background: none;
    font-size: 1em;
    font-family: Proxima Nova;
    color: #464646;
    background: white;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 7px #dbdbdb, 
                -7px -7px 7px #ffffff;
}

.app-search a {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: Lato;
    padding: 1px 6px;
    width: 125px;
    letter-spacing: -0.03em;
    color: black;
    background: white;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 7px #dbdbdb, 
                -7px -7px 7px #ffffff;
}

.fa-calendar {
    margin: 0 5px;
}

input#password {
    max-width: 125px;
}

.app-search input {
    padding-left: 6px;
}

.app-search input::placeholder,
.app-search input:active,
.app-search input:focus,
.app-search input,
.app-search textarea::placeholder,
.app-search textarea:active,
.app-search textarea:focus,
.app-search textarea {
    color: rgb(0, 0, 0);
    font-family: Lato;
}

.app-search textarea {
    padding-left: 6px;
}

.btn1 input {
    color: #2856B8;
}

.c-btn {
    position: relative;
}

#output {
    padding: 0 6px;
    z-index: 999;
    font-size: 1em;
}

.centerdate,
.travelselect {
    width: 70%;
}

.centerdate {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    margin-bottom: 5px;
}

.travelselect select {
    width: 49%;
    color: black;
    font-family: Lato;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
}

.travelselect select:focus {
    background: white;
}

.sort {
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
}

.tb-sortdate {
    width: 55px;
}

.sort,
#submit1 {
    font-size: 0.8em;
    background: transparent;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: #6c63ff;
    border: 2px solid #6c63ff;
    transition: .5s ease;
}

.sort:hover,
#submit1:hover {
    font-size: 0.8em;
    background: #6c63ff;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #6c63ff;
}


@media screen and (max-width: 700px) {
    .app-container {
        flex-direction: column;
        -ms-flex-direction: column;
        height: 1200px;
        padding: 20px 20px;
    }
    .filter,
    .sb-input,
    .sb-input2 {
        padding: 2px 0;
    }
    .app-search a {
        margin-bottom: 10px;
        padding: 2px 6px;
    }
    .app-posts ul li p {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .app-posts ul li p:nth-of-type(6) {
        flex-direction: row;
        align-items: center;
    }
    .app-search,
    .app-posts {
        width: 100%;
    }
    .app-search {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        border-right: unset;
        border-bottom: 1px solid #fff;
        box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
        justify-content: center;
    }
    .p1 {
        display: none;
    }
    .p2 {
        display: unset;
    }
    .app-posts {
        height: 100%;
        margin-top: 10px;
    }
    .sb-input2,
    .sb-input,
    .centerdate,
    .travelselect {
        width: 80%;
    }
    .app-section {
        height: unset;
        max-height: unset;
        padding: 40px 10px;
    }
}

@media screen and (max-width: 520px) {
    .app-posts ul li {
        font-size: 0.9em ;
    }
    .app-posts ul li h3 {
        font-size: 1em;
    }
    .travel-form h1 {
        font-size: 2.5em !important;
    }
    .travel-form h2 {
        padding: 0 10px ;
        margin: 20px 0 !important;
    }
    .app-search #to-from {
        height: 145px;
    }
    .app-container {
        height: 1248px;
    }
}

@media screen and (max-width: 396px) {
    .app-search a {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 375px) {
    .tb-drivers,
    .tb-passengers {
        width: 90px;
        padding: 5px 5px;
    }
}

@media screen and (max-width: 360px) {
    .app-posts {
        height: 550px;
    }
    .app-posts ul li {
        font-size: 0.8em ;
    }
    .app-search {
        font-size: 0.9em;
    }
    .fa-refresh {
        bottom: -15px;
    }
}

@media screen and (max-width: 337px) {
    .tb-drivers,
    .tb-passengers {
        width: 80px;
        padding: 2px 2px;
        font-size: 0.8em;
    }
    #sortbtn .fa {
        font-size: 0.8em;
    }
    .tab {
        padding: 2px 10px;
    }
}

/*styles for travel form section*/
/* .travel-form {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f1f1f1' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e3e3e3' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23d4d4d4' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c6c6c6' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b8b8b8' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 0;
}

.travel-form h1,


.travel-form h1 span,
.table-section h1 span {
    color: #6c63ff;
}

.travel-form h2 {
    text-align: center;
    max-width: 700px;
    font-family: Lato;
    margin: auto;
    font-size: 1.3em;
}



.travel-form .form {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.travel-form .form input,
.travelselect,
.travel-form .form textarea,
.centerdate {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: 10px auto;
}

.travelselect {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
}

.travel-form .form input,
.travel-form .form select,
.travel-form .form textarea {
    border-radius: 15px;
    padding: 10px 5px;
    background: rgba(108, 99, 255, 0.7);
    color: #fff;
    font-family: Lato;
}

.travel-form .form input::placeholder,
.travel-form .form textarea::placeholder {
    color: #fff;
    font-family: Lato;
}

.travel-form .form textarea {
    height: 50px;
}

.travel-form .form select {
    width: 49%;
    margin: auto;
}

.c-btn {
    border-radius: 15px;
    padding: 10px 5px;
    background: rgba(108, 99, 255, 0.7);
    color: #fff;
    font-family: Lato;
}

#output {
    color: #000;
    font-family: Lato;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#submit1 {
    max-width: 100px;
}

input#password {
    max-width: 138px;
    margin: 0 0 10px 0;
}

.form label {
    font-family: Lato;
    color: #000;
    font-size: 0.9em;
    display: block;
} */

/*travel form styles*/
/* .form {
    width: 100%;
}

.form form input {
    width: 70%;
    margin: auto;
} */

footer p {
    margin: 10px 10px 0 10px;
    font-family: Lato;
    text-align: center;
    color: #fff;
}

footer {
    width: 100%;
    background: #6c63ff;
    padding: 40px 0 0 0 !important;
}

footer > div {
    max-width: 1140px;
    margin: auto;
}

.full-width {
    background: rgba(255, 255, 255, 0.517);
    height: 2px;
    width: 100%;
}

.separator {
    background: #17a2b8;
    width: 120px;
    height: 3px;
    margin: 10px auto;
}

/*styles for about section*/
.about {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    font-family: Lato;
    padding: 50px 10px 20px 10px;
}

.aboutsection {
    width: 100%;
    background: #6b63ff10;;
}

.about h1 {
    text-align: center;
    font-size: 2.7em;
    font-family: Proxima Nova;
    color: #3f3d56;
}

.about-text {
    font-size: 1.2em;
    margin: 10px 0 30px 0;
}

.about p:nth-of-type(2) {
    font-size: 1.2em;
}

.fa-CV {
    font-family: Proxima Nova !important;
    font-weight: bold;
    letter-spacing: -3px;
}

.about span {
    color: #6c63ff;
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .card-container {
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
    }
}

/*profile cards*/
.profile-card {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 40px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
  
.profile-card *,
.profile-card:before,
.profile-card:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
  
.profile-card img {
    max-width: 35%;
    margin-top: -15px;
    margin-left: 60%;
    margin-bottom: 15px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 5px;
}
  
.profile-card figcaption {
    position: absolute;
    top: 0;
    right: 40%;
    left: 0;
    bottom: 0;
    padding: 15px;
}
  
.profile-card h3 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    font-weight: normal;
}
  
.profile-card .icons {
    font-size: 1.5rem;
}

.profile-card .icons .fa {
    color: #7d7c91;
}
  
.profile-card .icons .fa:hover {
    color: #23222c;
}  

.card-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;

}
/*contact section*/
.contact-section {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    font-family: Lato ;
    padding: 30px 10px 20px 10px;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

textarea::-webkit-input-placeholder {color: #999999;}
textarea:-moz-placeholder {color: #999999;}
textarea::-moz-placeholder {color: #999999;}
textarea:-ms-input-placeholder {color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.wrap-contact {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/*==================================================================
[ Title form ]*/
.contact-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 15px 64px 15px;
}

.contact-form-title-1 {
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 7px;
}

.contact-form-title-2 {
    font-family: Lato;
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}


.contact-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}


/*==================================================================
[ Form ]*/

.contact-form2 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
}

.label-input {
    font-family: Lato;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
}

/*---------------------------------------------*/
.input {
    font-family: Lato;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    background: #6c63ff;
}


/*---------------------------------------------*/
input.input {
    height: 45px;   
}


textarea.input {
    min-height: 115px;
    padding-top: 14px;
    padding-bottom: 13px;
}


.input:focus + .focus-input::before {
    width: 100%;
}

.has-val.input + .focus-input::before {
    width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #6c63ff;
    border-radius: 25px;
    font-family: Lato;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form-btn:hover {
    background-color: #333333;
}

.contact-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .contact-form2 {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .contact-form2 {
    padding: 43px 15px 57px 15px;
  }

  .label-input {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}

/*id and reg section*/

.idreg-section {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 20px 10px;
}

.idreg-section h1 {
    color: #6c63ff;
}

.lookup {
    max-width: 1140px;
    width: 100%;
    padding: 20px 10px;
    margin: auto;
}

#iframedata {
    width: 100%;
    height: 500px;
    background: #ffffff;
    box-shadow: 41px 41px 82px #c7c7c7, 
                -41px -41px 82px #ffffff;
    border-radius: 20px;
    margin: 20px 0 0 0;
    background: url('/images/logobg.svg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 640px) {
    #iframedata {
        background: url('/images/logobgm.svg');
        background-size: cover;
        background-position: center;    
    }
}

#cedula,
#placa {
    border-radius: 8px;
    background: #6c63ff;
    color: #ffffff;
    padding: 4px 0 4px 6px;
    font-family: Lato;
    font-size: 1.1em;
    box-shadow: 0 10px 40px #6c63ff, 0 0 0 20px #ffffffeb;
}

#cedula::placeholder,
#placa::placeholder {
    color: #e9e9e9;
}

.backcover {
    padding: 6px 5px;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.lookup button {
    font-size: 1em;
    background: transparent;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 999;
    color: #6c63ff;
    border: 2px solid #6c63ff;
    transition: .5s ease;
}

.lookup button:hover {
    color: white;
    background: #6c63ff;
}

.lu-span {
    position: relative;
}

.lu-span .fa-search {
    position: absolute;
    content: '\f002';
    font-family: fontAwesome;
    top: 0;
    right: 8px;
    color: white;
    transition: .3s ease;
    cursor: pointer;
}

.lu-span .fa-arrow-right {
    position: absolute;
    content: '\f061';
    font-family: fontAwesome;
    top: 0;
    right: 8px;
    font-size: 1.1em;
    color: white;
    transform: rotate(45deg);
    transition: .3s ease;
    opacity: 0;
    cursor: pointer;
}

.lu-span:hover .fa-search {
    transform: rotate(-45deg);
    opacity: 0;
}

.lu-span:hover .fa-arrow-right {
    transform: rotate(0deg);
    opacity: 1;
}

/*style correction for mobile apk*/
.shared-hero .hero {
    height: 0;
}

.shared-hero {
    height: unset !important;
    margin-bottom: 20px;
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
}

.mobile .app-section {
    padding: 0 10px 40px 10px;
}

.m2 .shared-hero{
    margin-bottom: 0;
}

/*agrego por andrés*/
@media screen and (max-width: 700px) {
    .list {
        margin-top: 10px;
    }

}
.table-section .table-container #myTable .simplebar-wrapper{
    height: 100%;
}
/*agrego por andrés*/

.main-hero {
    height: 100vh !important;
}